body {
  background-color: #222222;
}
.img-container {
  text-align: center;
}
.userName {
  font-family: "pacfontregular";
  font-size: 44px;
  text-align: center;
  color: wheat;
}
@font-face {
  font-family: "pacfontregular";
  src: url("pac-font-webfont.woff2") format("woff2"),
    url("pac-font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.scoreCard {
  color: wheat;
  border: aliceblue;
  border-style: groove;
  font-size: x-large;
  border-width: thick;
}
.buttons {
  text-align: center;
}
.btn {
  margin-bottom: 1pc;
}
