body {
  background-color: #222222;
}
.img-container {
  text-align: center;
}
.titleHeader {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 44px;
  text-align: center;
  color: wheat;
}

.scoreCard {
  color: wheat;
  border: aliceblue;
  border-style: groove;
  font-size: x-large;
  border-width: thick;
}
.buttons {
  text-align: center;
}
.btn {
  margin-bottom: 1pc;
}
